.app-loader-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/app-loading-screen.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    font-size: 24px;
    font-family: 'Segoe UI', sans-serif;
}

/* 2. CONFIG 'PRESS ANY BUTTON TO CONTINUE' */
.loader-text {
    
    /* 2.1. Align 'Press Any Button to Continue*/
    text-align: center;
    
    /* 2.2. Change animation speed of 'Press Any Button to Continue' */
    animation: blink 3s infinite;
}

    /* 2.3. Setup animation of 'Press Any Button to Continue' */
@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
