# deps
node_modules/
dist/
build/
electron/
*.asar

# Ignore files inside data but keep folder structure
data/*
!data/.gitkeep

# binaries
*.exe
*.dll
*.so
*.dmg
*.app

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# temp
*.tmp

# Ignore all subfolders inside projects (level 2)
projects/*/
!projects/.gitkeep